node_modules
package-lock.json
.env
.env.example
.idea/
.dockerignore
.project
.vs/
.vscode/
276.gif
Dockerfile
libssl1.1
lib/
khatri-dc19d-firebase-adminsdk-rwip0-524330e408.json
khatri555-firebase-adminsdk-n0lyi-afc7af4bfd.json
global-bundle.pem
public/apk